
:root {
    --theme-color: #54B435;
    --secondary-color: #FFCF9D;
    --black-base: #000000;
    --grey-base: #CED8DD;
    --grey-dark: #848688;
    --white-base: #FFFFFF;
    --red-base: #D1223E;
}

.btn {
    background: var(--theme-color);
    border-radius: 10px;
    color: var(--white-base);
    border: 1px solid var(--theme-color);
    transition: 0.3s all;
    @apply px-4 py-2 font-semibold;
}
.btn:hover {
    border-radius: 10px;
    background: var(--white-base);
    color: var(--theme-color);
    border: 1px solid var(--theme-color);
    @apply px-4 py-2 font-semibold;
}
.btn_outline {
    border-radius: 10px;
    background: var(--white-base);
    color: var(--theme-color);
    border: 1px solid var(--theme-color);
    transition: 0.3s all;
    @apply px-4 py-2 font-semibold;
}
.btn_outline:hover {
    background: var(--theme-color);
    border-radius: 10px;
    color: var(--white-base);
    border: 1px solid var(--theme-color);
    @apply px-4 py-2 font-semibold;
}

.Search {
    display: flex;
    width: 100%;
    align-items: center;
    @apply gap-3;
}
.Search .container {
    border: 2px solid var(--grey-base);
    border-radius: 10px;
    display: flex;
    flex-grow: 1;
    align-items: center;
    @apply px-3 py-1 gap-2;
}
.Search .field {
    height: 40px;
    @apply flex-grow;
}

.Search .field:focus-visible  {
    outline: none;
}
.Search:has(*:focus-visible) .container {
    border-color: var(--theme-color);
}


.Banner {
    min-height: 250px;
    background-color: var(--theme-color);
    color: var(--black-base);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position-y: center;
    @apply py-6 px-4 -mx-4 text-3xl font-semibold;
}

.ProductCard {
    border-radius: 10px;
    border: 1px solid var(--grey-base);
    display: flex;
    flex-direction: column;
    @apply p-3 shadow-lg;
}
.ProductCard .tag {
    background-color: var(--secondary-color);
    border-radius: 20px;
    color: var(--white-base);
    display: inline-block;
    @apply p-1 px-3 mb-1 text-xs;
}
.TextField .wrapper {
    position: relative;
    border-radius: 10px;
    border: 1px solid var(--grey-base);
    @apply px-3 py-4;
}
.TextField .wrapper input {
    background-color: transparent;
    width: 100%;
}
.TextField .wrapper:has( input:not(:focus-visible)) input::placeholder {
    color: transparent;
}
.TextField .wrapper:has( input:not(:placeholder-shown)) {
    border-color: var(--grey-base);
    padding-top: 22px;
    @apply pb-2.5;
}
.TextField .wrapper:has( input:focus-visible) {
    border-color: var(--theme-color);
    padding-top: 22px;
    @apply pb-2.5;
}
.TextField .wrapper label {
    position: absolute;
    color: var(--grey-dark);
    transition: 0.3s all;
    z-index: -1;
    @apply text-base font-semibold;
}
.TextField .wrapper:has( :focus-visible) label, .TextField:has( input:not(:placeholder-shown)) label {
    position: absolute;
    @apply top-2.5 left-3 text-xs;
}
.TextField .wrapper input:focus-visible  {
    outline: none;
}
.TextField .wrapper.invalid {
    border: 1px solid var(--red-base);
}
.TextField .wrapper.invalid:has( input:not(:placeholder-shown)) {
    border: 1px solid var(--red-base);
}
.TextField .wrapper.invalid:has( input:focus-visible) {
    border: 1px solid var(--red-base);
}
.TextField .wrapper.invalid label {
    color: var(--red-base);
}
.TextField .error-msg {
    color: var(--red-base);
    @apply text-sm mt-0.5;
}

@tailwind base;
@tailwind components;
@tailwind utilities;